.App {
  text-align: center;
  background-color: #b4b4b4;
  padding: 10px;
}

.js-icon {
  width: 100px;
  margin-top: 20px;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(73, 73, 73);
  width: 90%;
  height: 600px;
  border-radius: 20px;
  box-shadow: inset 0px 0px 30px 10px #313131;
  padding: 10px;
}

.elemId {
  background-color: rgb(110, 110, 110);
  margin: 0 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px #000;
  padding-bottom: 10px;
}

.bulbs {
  width: 100px;
  margin-top: 10px;
}

.bulbs-rats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.rat {
  width: 150px;
}